*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.route{
    position: relative;
    padding:0px 5px 5px 5px;
}
.route::before {
 content: '';
 width:0;
 height: 3px;
 position: absolute;
 bottom:0;
 left: 0;
 color: red;
 background-color: rgb(15, 155, 15);
 transition: 1s linear;
}
.route:hover::before{
    width: 100%;
}