*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-banner{
    position: relative;
    max-width: 1280px;
    min-height: 711px;
    background:linear-gradient(45deg, rgba(48, 188, 76, 0.785),skyblue);
}
.main-banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 711px;
    object-fit: cover;
    z-index: 0;
} 
.main-banner::before{
    z-index: 777;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(29, 116, 41, 0.358);
    mix-blend-mode: overlay;
}
.main-banner .bg-video{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0% 50%);
}
.main-banner .bg-video.active{
    clip-path: circle(150% at 0% 50%);
    transition: clip-path 2s ease;
}